    <h1>{{movie.Title}}</h1>

    <br />

    <div class="imgbig" style="background-color:#ADFF2F;">
        <img src="{{movie.Image}}" alt="Movie Image" style="height:100%; width:100%;" />
        <br />
        <pr>the Season {{movie.Seasons}}</pr>
        <br />
        <pr>Views {{movie.Views}}</pr>
        <br />
        <div class="descriptioncol" style="background-color:#aaa;">
            <h2>Description</h2>
            <pr> {{movie.Details}} </pr>
        </div>   

        <div class="descriptioncol">
            <button type="button"><a href="AllMovies">Back to Movies</a></button>
        </div>

     </div>


